{% extends "blog/base.html" %}
{% block content %}


    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-create' %}">Let's Write</a>
    <br>
    <br>
  
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'profile_view' post.author %}">{{ post.author }}</a>
              <small class="text-muted">{{ post.author.profile.badge }}</small><br>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
              
            </div>
            
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
